## Philip Uit
### MSDE 621 _ Week 2 Assignment 
### 7/12/20

## Week 2 Assignment

## Part 1
As suggested in Use Case 1 of the FTE, we need to read the other nine stock files and insert their data into the database. While nine files isn't an undue burden to manually read, we are going to look ahead to the time when we may have 100 log files to read and implement this code using the DRY Principle. DRY stands for

Don't
Repeat
Yourself
So, while we could create an individual cell to read each stock file, for this assignment, do it in one. I'll give you some help to get started.

Reference:
https://en.wikipedia.org/wiki/Don%27t_repeat_yourself

Much of computer science and programming is about identifying and exploiting patterns. In this case, we know there is a pattern to how the files are named, and we know (through inspection) that there is a pattern to the columns of data inside.

The file names all start with a year, from 2009 straight to 2019 with no breaks:

2009_aapl_data.xlsx
2010_aapl_data.xlsx
2011_aapl_data.xlsx
2012_aapl_data.xlsx
2013_aapl_data.xlsx
2014_aapl_data.xlsx
2015_aapl_data.xlsx
2016_aapl_data.xlsx
2017_aapl_data.xlsx
2018_aapl_data.xlsx
2019_aapl_data.xlsx
Do we know of anything in Python capable of generating a range of numbers like that?

for x in range(2009, 2020):
    print(x)
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
That should be enough to get you going. Feel free to use code and helper functions from the FTE. I gave you the .ipynb file for a reason :).

Remember,

If you ran the FTE code, it will have already read in 2009 and created the database file.
If you start at 2009, depending on the condition above, you may need to handle the table already existing.
It is your choice whether or not to use the dataset library. As with many things in life, there are tradeoffs -- some things are easier, some not.

### Deliverable:

When you are done, you will have a database table with slightly more than 2500 rows in it. Show this by doing a query that counts rows in the table.
import dataset
from openpyxl import load_workbook

#### Setup:

In [8]:
#importing packages we will use throughout this exercises:

import dataset
from openpyxl import load_workbook
import sqlite3
import glob
import pandas as pd
import numpy as np

Using pattern in file names 2009-2019 to pull all files in at once

In [11]:
# getting data file names of all files 2009-2019 of aapl stock price data

#using glob.glob funciton to pull all files in the naming pattern 2009-2019.
filenames = glob.glob('*_aapl_data.xlsx')

dfs = []
for filename in filenames:
    dfs.append(pd.read_excel(filename)) 

# Concatenate all data into one DataFrame
df = pd.concat(dfs, ignore_index=True)

In [12]:
# checking that all data is pulled into 1 table or dataframe
# we see 2,516 rows with 6 columns. Alse we see 2009 data on top and 2019 data on the bottom. looks good to move on.
df

            date     close       volume      open      high       low
0     2009/12/31   30.1046   87907426.0   30.4471   30.4786   30.0800
1     2009/12/30   30.2343  102705781.0   29.8328   30.2857   29.7586
2     2009/12/29   29.8714  110755363.0   30.3757   30.3886   29.8186
3     2009/12/28   30.2300  160784168.0   30.2457   30.5643   29.9444
4     2009/12/24   29.8628  125222058.0   29.0786   29.9071   29.0500
...          ...       ...          ...       ...       ...       ...
2511  2019/01/08  150.7500   40622910.0  149.5600  151.8200  148.5200
2512  2019/01/07  147.9300   54571440.0  148.7000  148.8300  145.9000
2513  2019/01/04  148.2600   57423650.0  144.5300  148.5499  143.8000
2514  2019/01/03  142.1900   91106840.0  143.9800  145.7200  142.0000
2515  2019/01/02  157.9200   35637070.0  154.8900  158.8500  154.2300

[2516 rows x 6 columns]

### When you are done, you will have a database table with slightly more than 2500 rows in it. Show this by doing a query that counts rows in the table.
we see in the cell below by checking the length, we see 2,516 rows in the table with all data pulled in. Same as we output in the cell above. Looks good.
### there are 2,516 rows in the table

In [13]:
#query the counts rows in table using length function
len(df)

2516

#### Part 2 setup
checking type and setting up for part 2: 
due to taking a slightly differnt approach on this lab using glob.glob to pull in data. I wanted to check object types, especially for 'date', as this is an important column for part 2 working with isolating individual years.

In [14]:
#checking df info of data types. This is looking aread at part 2 and how we might need to use annual dates. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516 entries, 0 to 2515
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2516 non-null   object
 1   close   2516 non-null   float64
 2   volume  2516 non-null   float64
 3   open    2516 non-null   float64
 4   high    2516 non-null   float64
 5   low     2516 non-null   float64
dtypes: float64(5), object(1)
memory usage: 118.1+ KB

Changing Dtype of 'date' column to datetime64[ns]. This will help for part 2.

In [16]:
# changing the data type on the 'date' column
df['date'] = pd.to_datetime(df['date'])
df.info()
#we see we changed the data type for date column - this will help with analysis later on
#we now have the data cleaned and can move on for further analysis

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516 entries, 0 to 2515
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2516 non-null   datetime64[ns]
 1   close   2516 non-null   float64
 2   volume  2516 non-null   float64
 3   open    2516 non-null   float64
 4   high    2516 non-null   float64
 5   low     2516 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 118.1 KB

Let's get a unique look at this data using the .describe() function. We can see some inetersting statistics about this dataset

In [17]:
#using describe() function to better understand this data. We see a unique perpective here.
df.describe()

             close        volume         open         high          low
count  2516.000000  2.516000e+03  2516.000000  2516.000000  2516.000000
mean    103.132211  7.786911e+07   103.127600   104.049273   102.175100
std      51.792948  5.910572e+07    51.761292    52.227741    51.349539
min      24.330000  1.136205e+07    23.896600    24.385700    23.870000
25%      60.898900  3.250788e+07    60.853900    61.318175    60.300025
50%      96.015000  6.056857e+07    96.000000    96.825000    95.054250
75%     139.035000  1.066025e+08   138.875000   139.680000   138.601925
max     232.070000  4.649832e+08   230.780000   233.470000   229.780000

## Part 2 -- #1
Find all days where the stock closed lower than 25.
Print a count of how many
Print the first 5 rows found

In [18]:
# query of all days that closed lower than $25 a share. 
# we see 6 total. ALl in Sept. 2009
df.query('close <= 25')
#we will print the count of this output in the next cell

         date    close       volume     open     high      low
76 2009-09-14  24.8171   80383404.0  24.4043  24.8428  24.3214
77 2009-09-11  24.5943   87108026.0  24.7014  24.7400  24.4100
78 2009-09-10  24.6514  122612107.0  24.5800  24.7500  24.4014
79 2009-09-09  24.4486  202624511.0  24.6828  24.9243  24.2428
80 2009-09-08  24.7043   78524974.0  24.7114  24.7343  24.5714
81 2009-09-04  24.3300   93309888.0  23.8966  24.3857  23.8700

#### Print of Count of how many days the stock closed <$25 a share:
#### There are 6 days (cell below)

In [19]:
# Print of Count of how many days the stock closed <$25 a share:
len(df.query('close <= 25'))

6

#### Print the first 5 rows found

In [20]:
# query of first 5 rows found  that closed lower than $25 a share. 
# We see it searches ascending from today's date

df.query('close <= 25').head(5)

         date    close       volume     open     high      low
76 2009-09-14  24.8171   80383404.0  24.4043  24.8428  24.3214
77 2009-09-11  24.5943   87108026.0  24.7014  24.7400  24.4100
78 2009-09-10  24.6514  122612107.0  24.5800  24.7500  24.4014
79 2009-09-09  24.4486  202624511.0  24.6828  24.9243  24.2428
80 2009-09-08  24.7043   78524974.0  24.7114  24.7343  24.5714

## Part 2 -- #2
Find all days in 2017 where the stock closed above 35.
Print a count of how many
Print the last 5 found.

code reference for this cell below: https://kite.com/python/answers/how-to-filter-pandas-dataframe-rows-by-date-in-python

We need to sepereate out the year 2017. So we make 1/1/17 the start_date & 1/31/17 the end_date. This will help answer the questions with the desired queries based on the year 2017, which we now isoloate.

In [21]:
# Here we filter all 2017 days to be able to do analysis on just 2017.
# We see we have 251 rows and 6 columns, we confirm we seperated the data correctly.

start_date = "2017-1-1"
end_date = "2017-12-31"

after_start_date = df["date"] >= start_date
before_end_date = df["date"] <= end_date
between_two_dates = after_start_date & before_end_date
filtered_dates = df.loc[between_two_dates]

print(filtered_dates)

           date   close      volume    open      high      low
1844 2017-12-29  169.23  25938760.0  170.52  170.5900  169.220
1845 2017-12-28  171.08  16412270.0  171.00  171.8500  170.480
1846 2017-12-27  170.60  21477380.0  170.10  170.7800  169.710
1847 2017-12-26  170.57  33113340.0  170.80  171.4700  169.679
1848 2017-12-22  175.01  16339690.0  174.68  175.4240  174.500
...         ...     ...         ...     ...       ...      ...
2090 2017-01-09  118.99  33420290.0  117.95  119.4300  117.940
2091 2017-01-06  117.91  31714820.0  116.78  118.1600  116.470
2092 2017-01-05  116.61  22115100.0  115.92  116.8642  115.810
2093 2017-01-04  116.02  21081620.0  115.85  116.5100  115.750
2094 2017-01-03  116.15  28769220.0  115.80  116.3300  114.760

[251 rows x 6 columns]

In [22]:
#putting all 2017 data into it's own dataframe callled df1
df1 = filtered_dates

In [23]:
#query of all days in 2017 that closed greater than $35 a share. 
# It appears that everyday was abover 35$. As we sill see 251 rows and 6 columns
df1.query('close >= 35')

           date   close      volume    open      high      low
1844 2017-12-29  169.23  25938760.0  170.52  170.5900  169.220
1845 2017-12-28  171.08  16412270.0  171.00  171.8500  170.480
1846 2017-12-27  170.60  21477380.0  170.10  170.7800  169.710
1847 2017-12-26  170.57  33113340.0  170.80  171.4700  169.679
1848 2017-12-22  175.01  16339690.0  174.68  175.4240  174.500
...         ...     ...         ...     ...       ...      ...
2090 2017-01-09  118.99  33420290.0  117.95  119.4300  117.940
2091 2017-01-06  117.91  31714820.0  116.78  118.1600  116.470
2092 2017-01-05  116.61  22115100.0  115.92  116.8642  115.810
2093 2017-01-04  116.02  21081620.0  115.85  116.5100  115.750
2094 2017-01-03  116.15  28769220.0  115.80  116.3300  114.760

[251 rows x 6 columns]

#### Print a Count of how many days in 2017 the stock closed above 35 dollars a share
we use the length function to help with this shown below. 
#### there are 251 days in 2017 that aapl stock price closed >$35. Looks to be everyday possible that closed above that price!

In [24]:
#printing count of days in 2017 > 35$ a share at market close.
len(df1.query('close >= 35'))

251

#### Print the last 5 days found in 2017 that closed above 35 dollars a share
in the cell below we see the output. notice that the query found the results with a date furthest from today using the tail(5) function to find the last 5
#### the last 5 days found in 2017 that closed above 35 dollars a share: 1/3/17, 1/4/17, 1/5/17, 1/6/17,  & 1/9/17

In [25]:
# query of last 5 rows found of 2017 days that closed greater than $35 a share. 
# Again, We see it searches ascending from today's date

df1.query('close >= 35').tail(5)

           date   close      volume    open      high     low
2090 2017-01-09  118.99  33420290.0  117.95  119.4300  117.94
2091 2017-01-06  117.91  31714820.0  116.78  118.1600  116.47
2092 2017-01-05  116.61  22115100.0  115.92  116.8642  115.81
2093 2017-01-04  116.02  21081620.0  115.85  116.5100  115.75
2094 2017-01-03  116.15  28769220.0  115.80  116.3300  114.76

## Setting up and placing data into Database using SQlite

In [26]:
#importing create_engine 
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [27]:
#converting df to sql using to_sql function. We also name it 'aapl' and assign the con engine. 
df.to_sql('aapl', con=engine)

In [28]:
# creating the database with the converted to_sql df from above.
db = dataset.connect("sqlite:///" + 'aapl')

In [30]:
# Use a for loop just in case someone snuck in a new table on us
if (len(db.tables) > 0):
    for table in db.tables:
        db[table].drop()

In [31]:
# creating table 'aapl'
table = db.create_table("aapl")

#### testing new DB and running query in engine.execute to fetchall data from the new DB. We see we have all the data successfull placed into the new 'aapl.db'

In [32]:
# using engine.execute to fetchall data. It looks like it is all there and looks clean. We could do query searches from this using the engine.execute function to search other queries if needed. 
engine.execute("SELECT * FROM aapl").fetchall()

[(0, '2009-12-31 00:00:00.000000', 30.1046, 87907426.0, 30.4471, 30.4786, 30.08),
 (1, '2009-12-30 00:00:00.000000', 30.2343, 102705781.0, 29.8328, 30.2857, 29.7586),
 (2, '2009-12-29 00:00:00.000000', 29.8714, 110755363.0, 30.3757, 30.3886, 29.8186),
 (3, '2009-12-28 00:00:00.000000', 30.23, 160784168.0, 30.2457, 30.5643, 29.9444),
 (4, '2009-12-24 00:00:00.000000', 29.8628, 125222058.0, 29.0786, 29.9071, 29.05),
 (5, '2009-12-23 00:00:00.000000', 28.8714, 86118086.0, 28.75, 28.9114, 28.6871),
 (6, '2009-12-22 00:00:00.000000', 28.6228, 87148416.0, 28.4914, 28.6928, 28.38),
 (7, '2009-12-21 00:00:00.000000', 28.3186, 152166116.0, 28.0071, 28.5357, 27.9528),
 (8, '2009-12-18 00:00:00.000000', 27.9186, 151863506.0, 27.5957, 27.929, 27.5143),
 (9, '2009-12-17 00:00:00.000000', 27.4086, 96720359.0, 27.7514, 27.8571, 27.2857),
 (10, '2009-12-16 00:00:00.000000', 27.8614, 88203036.0, 27.8714, 28.0714, 27.7928),
 (11, '2009-12-15 00:00:00.000000', 27.7386, 104742851.0, 27.9757, 28.2157, 27.61),
 (12, '2009-12-14 00:00:00.000000', 28.14, 123034697.0, 27.91, 28.2043, 27.5086),
 (13, '2009-12-11 00:00:00.000000', 27.81, 107241432.0, 28.2543, 28.2857, 27.6328),
 (14, '2009-12-10 00:00:00.000000', 28.0614, 122237397.0, 28.5, 28.5286, 28.0171),
 (15, '2009-12-09 00:00:00.000000', 28.2571, 170359961.0, 27.3257, 28.3086, 27.1871),
 (16, '2009-12-08 00:00:00.000000', 27.1243, 172136212.0, 27.0514, 27.4786, 26.9571),
 (17, '2009-12-07 00:00:00.000000', 26.9928, 178153973.0, 27.6171, 27.6814, 26.9543),
 (18, '2009-12-04 00:00:00.000000', 27.6171, 206587352.0, 28.5286, 28.5543, 27.1828),
 (19, '2009-12-03 00:00:00.000000', 28.0686, 111825804.0, 28.2028, 28.4257, 28.0386),
 (20, '2009-12-02 00:00:00.000000', 28.0328, 178051493.0, 28.4228, 28.7743, 27.9643),
 (21, '2009-12-01 00:00:00.000000', 28.1386, 115558625.0, 28.8914, 28.9671, 28.1186),
 (22, '2009-11-30 00:00:00.000000', 28.5586, 105960292.0, 28.73, 28.8114, 28.3957),
 (23, '2009-11-27 00:00:00.000000', 28.6557, 73814252.0, 28.46, 28.9943, 28.3386),
 (24, '2009-11-25 00:00:00.000000', 29.17, 71610021.0, 29.3428, 29.3786, 29.1086),
 (25, '2009-11-24 00:00:00.000000', 29.2057, 79299524.0, 29.3328, 29.4114, 28.9857),
 (26, '2009-11-23 00:00:00.000000', 29.4114, 118458796.0, 29.0, 29.4286, 28.9928),
 (27, '2009-11-20 00:00:00.000000', 28.56, 101636880.0, 28.45, 28.6271, 28.2514),
 (28, '2009-11-19 00:00:00.000000', 28.6443, 134796450.0, 29.23, 29.23, 28.5428),
 (29, '2009-11-18 00:00:00.000000', 29.4228, 93398578.0, 29.5057, 29.5714, 29.1428),
 (30, '2009-11-17 00:00:00.000000', 29.5714, 98972890.0, 29.44, 29.6343, 29.2857),
 (31, '2009-11-16 00:00:00.000000', 29.5186, 120381976.0, 29.3543, 29.7143, 29.2871),
 (32, '2009-11-13 00:00:00.000000', 29.2071, 85438596.0, 28.9814, 29.2614, 28.8671),
 (33, '2009-11-12 00:00:00.000000', 28.8557, 89530587.0, 29.02, 29.2671, 28.7757),
 (34, '2009-11-11 00:00:00.000000', 29.0357, 110939183.0, 29.2228, 29.2857, 28.8328),
 (35, '2009-11-10 00:00:00.000000', 28.9971, 100095830.0, 28.7171, 29.2828, 28.7157),
 (36, '2009-11-09 00:00:00.000000', 28.78, 131522059.0, 28.1343, 28.8428, 28.0371),
 (37, '2009-11-06 00:00:00.000000', 27.7628, 72991822.0, 27.5014, 27.8843, 27.4857),
 (38, '2009-11-05 00:00:00.000000', 27.7186, 95468409.0, 27.4857, 27.8571, 27.4028),
 (39, '2009-11-04 00:00:00.000000', 27.2586, 121780787.0, 27.2471, 27.6928, 27.1757),
 (40, '2009-11-03 00:00:00.000000', 26.9643, 129766809.0, 26.8357, 27.0743, 26.56),
 (41, '2009-11-02 00:00:00.000000', 27.0443, 169589051.0, 27.1143, 27.5543, 26.51),
 (42, '2009-10-30 00:00:00.000000', 26.9286, 178927334.0, 28.008, 28.1143, 26.5809),
 (43, '2009-10-29 00:00:00.000000', 28.05, 142328523.0, 27.8571, 28.1157, 27.4486),
 (44, '2009-10-28 00:00:00.000000', 27.4857, 203838171.0, 28.2443, 28.2886, 27.3),
 (45, '2009-10-27 00:00:00.000000', 28.1957, 188494237.0, 28.8086, 28.9728, 28.0643),
 (46, '2009-10-26 00:00:00.000000', 28.9257, 120323596.0, 29.0957, 29.5357, 28.5857),
 (47, '2009-10-23 00:00:00.000000', 29.1343, 104997091.0, 29.3857, 29.4, 29.0328),
 (48, '2009-10-22 00:00:00.000000', 29.3143, 197585279.0, 29.2428, 29.6928, 28.93),
 (49, '2009-10-21 00:00:00.000000', 29.2743, 297780229.0, 28.5028, 29.8157, 28.4614),
 (50, '2009-10-20 00:00:00.000000', 28.3943, 283171645.0, 28.6571, 28.8214, 28.2643),
 (51, '2009-10-19 00:00:00.000000', 27.1228, 223971717.0, 26.8357, 27.1428, 26.5071),
 (52, '2009-10-16 00:00:00.000000', 26.8643, 106997762.0, 27.05, 27.1943, 26.8343),
 (53, '2009-10-15 00:00:00.000000', 27.2228, 93217068.0, 27.09, 27.2743, 27.0757),
 (54, '2009-10-14 00:00:00.000000', 27.3271, 93807028.0, 27.4643, 27.4743, 27.1757),
 (55, '2009-10-13 00:00:00.000000', 27.1457, 86349156.0, 27.2328, 27.31, 27.1),
 (56, '2009-10-12 00:00:00.000000', 27.2586, 71985082.0, 27.2886, 27.3586, 27.0914),
 (57, '2009-10-09 00:00:00.000000', 27.21, 73239202.0, 26.9957, 27.2428, 26.9457),
 (58, '2009-10-08 00:00:00.000000', 27.0386, 109314133.0, 27.2371, 27.35, 26.9843),
 (59, '2009-10-07 00:00:00.000000', 27.1786, 116159085.0, 27.1086, 27.2214, 27.0046),
 (60, '2009-10-06 00:00:00.000000', 27.1443, 150950285.0, 26.82, 27.1443, 26.7571),
 (61, '2009-10-05 00:00:00.000000', 26.5748, 105618342.0, 26.6, 26.6943, 26.3243),
 (62, '2009-10-02 00:00:00.000000', 26.4143, 138167581.0, 25.9157, 26.5628, 25.9071),
 (63, '2009-10-01 00:00:00.000000', 25.8371, 130857059.0, 26.4786, 26.6028, 25.8143),
 (64, '2009-09-30 00:00:00.000000', 26.4786, 134783220.0, 26.59, 26.6357, 26.0875),
 (65, '2009-09-29 00:00:00.000000', 26.4828, 86193756.0, 26.6757, 26.7714, 26.33),
 (66, '2009-09-28 00:00:00.000000', 26.5931, 84275265.0, 26.2671, 26.6686, 26.19),
 (67, '2009-09-25 00:00:00.000000', 26.0528, 111258383.0, 26.0014, 26.5, 25.92),
 (68, '2009-09-24 00:00:00.000000', 26.26, 137146491.0, 26.7428, 26.8143, 26.11),
 (69, '2009-09-23 00:00:00.000000', 26.5, 147927824.0, 26.4857, 26.9857, 26.4328),
 (70, '2009-09-22 00:00:00.000000', 26.3543, 89155457.0, 26.4557, 26.4828, 26.1214),
 (71, '2009-09-21 00:00:00.000000', 26.2886, 109290683.0, 26.3271, 26.4514, 25.9457),
 (72, '2009-09-18 00:00:00.000000', 26.4314, 150314055.0, 26.5471, 26.65, 26.3943),
 (73, '2009-09-17 00:00:00.000000', 26.3643, 202182601.0, 25.9971, 26.6843, 25.9957),
 (74, '2009-09-16 00:00:00.000000', 25.9814, 187437586.0, 25.4271, 26.1071, 25.4114),
 (75, '2009-09-15 00:00:00.000000', 25.0228, 103726871.0, 24.8628, 25.0928, 24.7986),
 (76, '2009-09-14 00:00:00.000000', 24.8171, 80383404.0, 24.4043, 24.8428, 24.3214),
 (77, '2009-09-11 00:00:00.000000', 24.5943, 87108026.0, 24.7014, 24.74, 24.41),
 (78, '2009-09-10 00:00:00.000000', 24.6514, 122612107.0, 24.58, 24.75, 24.4014),
 (79, '2009-09-09 00:00:00.000000', 24.4486, 202624511.0, 24.6828, 24.9243, 24.2428),
 (80, '2009-09-08 00:00:00.000000', 24.7043, 78524974.0, 24.7114, 24.7343, 24.5714),
 (81, '2009-09-04 00:00:00.000000', 24.33, 93309888.0, 23.8966, 24.3857, 23.87),
 (82, '2010-12-31 00:00:00.000000', 46.08, 48344906.0, 46.1357, 46.2114, 45.9014),
 (83, '2010-12-30 00:00:00.000000', 46.2371, 39354103.0, 46.4971, 46.5014, 46.15),
 (84, '2010-12-29 00:00:00.000000', 46.47, 40775656.0, 46.6028, 46.6357, 46.4428),
 (85, '2010-12-28 00:00:00.000000', 46.4957, 43898371.0, 46.5586, 46.6657, 46.4371),
 (86, '2010-12-27 00:00:00.000000', 46.3828, 62274056.0, 46.1217, 46.4914, 45.9314),
 (87, '2010-12-23 00:00:00.000000', 46.2286, 55731469.0, 46.4286, 46.45, 46.1671),
 (88, '2010-12-22 00:00:00.000000', 46.4514, 66449697.0, 46.3371, 46.5314, 46.2214),
 (89, '2010-12-21 00:00:00.000000', 46.315, 63928793.0, 46.1428, 46.3414, 46.0071),
 (90, '2010-12-20 00:00:00.000000', 46.03, 96006079.0, 45.9428, 46.1786, 45.4614),
 (91, '2010-12-17 00:00:00.000000', 45.8014, 96587849.0, 45.9471, 45.97, 45.7471),
 (92, '2010-12-16 00:00:00.000000', 45.8928, 80244454.0, 45.87, 46.0871, 45.7286),
 (93, '2010-12-15 00:00:00.000000', 45.7657, 103780771.0, 45.7143, 46.1428, 45.5986),
 (94, '2010-12-14 00:00:00.000000', 45.7557, 87718986.0, 45.9614, 46.0771, 45.5714),
 (95, '2010-12-13 00:00:00.000000', 45.9528, 109673093.0, 46.3386, 46.4371, 45.8571),
 (96, '2010-12-10 00:00:00.000000', 45.7943, 65576594.0, 45.6643, 45.8643, 45.5143),
 (97, '2010-12-09 00:00:00.000000', 45.6796, 73378782.0, 46.0188, 46.0714, 45.5743),
 (98, '2010-12-08 00:00:00.000000', 45.8586, 80165284.0, 45.6614, 45.86, 45.3014),
 (99, '2010-12-07 00:00:00.000000', 45.4586, 97437439.0, 46.2571, 46.2843, 45.4457),
 (100, '2010-12-06 00:00:00.000000', 45.7357, 111165143.0, 45.52, 46.0471, 45.4886),
 (101, '2010-12-03 00:00:00.000000', 45.3486, 85503906.0, 45.2871, 45.5214, 45.1914),
 (102, '2010-12-02 00:00:00.000000', 45.45, 115699815.0, 45.3614, 45.5714, 44.9843),
 (103, '2010-12-01 00:00:00.000000', 45.2, 114829084.0, 45.0386, 45.3928, 45.0),
 (104, '2010-11-30 00:00:00.000000', 44.45, 125157098.0, 44.7914, 44.9086, 44.41),
 (105, '2010-11-29 00:00:00.000000', 45.2671, 110489713.0, 45.0714, 45.3543, 44.4828),
 (106, '2010-11-26 00:00:00.000000', 45.0, 59436255.0, 44.82, 45.3857, 44.7057),
 (107, '2010-11-24 00:00:00.000000', 44.9707, 103401091.0, 44.5714, 45.0571, 44.5357),
 (108, '2010-11-23 00:00:00.000000', 44.1043, 129372219.0, 44.35, 44.5357, 43.7943),
 (109, '2010-11-22 00:00:00.000000', 44.7657, 97869619.0, 43.8114, 44.7657, 43.6957),
 (110, '2010-11-19 00:00:00.000000', 43.8186, 96113949.0, 43.9957, 44.0571, 43.6057),
 (111, '2010-11-18 00:00:00.000000', 44.0614, 123123667.0, 43.6, 44.2386, 43.5271),
 (112, '2010-11-17 00:00:00.000000', 42.9286, 119653066.0, 43.0286, 43.4271, 42.5371),
 (113, '2010-11-16 00:00:00.000000', 43.0843, 164041549.0, 43.6743, 43.9428, 42.76),
 (114, '2010-11-15 00:00:00.000000', 43.8621, 100475160.0, 44.0657, 44.3628, 43.7528),
 (115, '2010-11-12 00:00:00.000000', 44.0043, 198704230.0, 45.1428, 45.2143, 43.3757),
 (116, '2010-11-11 00:00:00.000000', 45.2364, 90179837.0, 45.0, 45.4857, 44.8928),
 (117, '2010-11-10 00:00:00.000000', 45.4328, 95152429.0, 45.2343, 45.5386, 44.7928),
 (118, '2010-11-09 00:00:00.000000', 45.1543, 95514329.0, 45.8643, 45.9, 44.9286),
 (119, '2010-11-08 00:00:00.000000', 45.5171, 69985111.0, 45.3143, 45.6814, 45.2514),
 (120, '2010-11-05 00:00:00.000000', 45.3043, 90104657.0, 45.4271, 45.6528, 45.25),
 (121, '2010-11-04 00:00:00.000000', 45.4671, 159613418.0, 45.0643, 45.74, 45.0043),
 (122, '2010-11-03 00:00:00.000000', 44.6857, 126496828.0, 44.4814, 44.6971, 44.0757),
 (123, '2010-11-02 00:00:00.000000', 44.1943, 107689502.0, 43.8571, 44.3128, 43.8571),
 (124, '2010-11-01 00:00:00.000000', 43.4543, 105463082.0, 43.1743, 43.6571, 43.1714),
 (125, '2010-10-29 00:00:00.000000', 42.9971, 106459252.0, 43.4614, 43.6971, 42.9814),
 (126, '2010-10-28 00:00:00.000000', 43.6057, 137111911.0, 43.9928, 44.0, 42.9857),
 (127, '2010-10-27 00:00:00.000000', 43.9757, 97963209.0, 43.95, 44.2714, 43.6571),
 (128, '2010-10-26 00:00:00.000000', 44.0071, 97175079.0, 43.8386, 44.2486, 43.6643),
 (129, '2010-10-25 00:00:00.000000', 44.12, 96214749.0, 44.1557, 44.5143, 44.0628),
 (130, '2010-10-22 00:00:00.000000', 43.9243, 92488648.0, 44.1528, 44.2914, 43.7571),
 (131, '2010-10-21 00:00:00.000000', 44.2171, 136781721.0, 44.6228, 44.9628, 43.8286),
 (132, '2010-10-20 00:00:00.000000', 44.3614, 179414674.0, 44.1428, 44.8928, 43.8386),
 (133, '2010-10-19 00:00:00.000000', 44.2128, 307005952.0, 43.3428, 44.8243, 42.86),
 (134, '2010-10-18 00:00:00.000000', 45.4286, 267603430.0, 45.4957, 45.5714, 44.8986),
 (135, '2010-10-15 00:00:00.000000', 44.9628, 229189449.0, 43.92, 45.0, 43.5586),
 (136, '2010-10-14 00:00:00.000000', 43.1871, 108314742.0, 43.0986, 43.21, 42.9143),
 (137, '2010-10-13 00:00:00.000000', 42.8771, 155265647.0, 42.8857, 43.1371, 42.8286),
 (138, '2010-10-12 00:00:00.000000', 42.6486, 139112862.0, 42.2014, 42.7857, 41.7843),
 (139, '2010-10-11 00:00:00.000000', 42.1943, 106676392.0, 42.1057, 42.4628, 42.0857),
 (140, '2010-10-08 00:00:00.000000', 42.01, 164183439.0, 41.6733, 42.0714, 41.4286),
 (141, '2010-10-07 00:00:00.000000', 41.3171, 101859481.0, 41.4766, 41.4971, 40.9871),
 (142, '2010-10-06 00:00:00.000000', 41.3128, 167206320.0, 41.37, 41.7128, 40.7514),
 (143, '2010-10-05 00:00:00.000000', 41.2771, 124901667.0, 40.2857, 41.35, 40.2601),
 (144, '2010-10-04 00:00:00.000000', 39.8057, 108637023.0, 40.2286, 40.4143, 39.6814),
 (145, '2010-10-01 00:00:00.000000', 40.36, 112000034.0, 40.878, 40.94, 40.1928),
 (146, '2010-09-30 00:00:00.000000', 40.5357, 167988710.0, 41.2857, 41.4286, 40.1786),
 (147, '2010-09-29 00:00:00.000000', 41.0528, 117244505.0, 41.0328, 41.4014, 40.8571),
 (148, '2010-09-28 00:00:00.000000', 40.98, 258538988.0, 41.6814, 41.6814, 39.2857),
 (149, '2010-09-27 00:00:00.000000', 41.5948, 120369236.0, 41.9964, 42.1043, 41.5728),
 (150, '2010-09-24 00:00:00.000000', 41.76, 161761929.0, 41.7286, 41.9328, 41.5071),
 (151, '2010-09-23 00:00:00.000000', 41.2743, 196189899.0, 40.9043, 41.8228, 40.8571),
 (152, '2010-09-22 00:00:00.000000', 41.1071, 146168794.0, 40.3871, 41.14, 40.3443),
 (153, '2010-09-21 00:00:00.000000', 40.5386, 166544330.0, 40.5514, 41.05, 40.3986),
 (154, '2010-09-20 00:00:00.000000', 40.4614, 164490809.0, 39.44, 40.54, 39.4071),
 (155, '2010-09-17 00:00:00.000000', 39.3386, 157292917.0, 39.67, 39.7086, 39.0971),
 (156, '2010-09-16 00:00:00.000000', 39.51, 162463819.0, 38.6057, 39.5243, 38.5),
 (157, '2010-09-15 00:00:00.000000', 38.6028, 106805122.0, 38.31, 38.6257, 38.2628),
 (158, '2010-09-14 00:00:00.000000', 38.2943, 101293530.0, 38.03, 38.4528, 37.9314),
 (159, '2010-09-13 00:00:00.000000', 38.1486, 96883319.0, 37.9743, 38.3257, 37.9657),
 (160, '2010-09-10 00:00:00.000000', 37.63, 96849369.0, 37.5986, 37.7857, 37.3428),
 (161, '2010-09-09 00:00:00.000000', 37.5814, 109347103.0, 37.8628, 38.0743, 37.56),
 (162, '2010-09-08 00:00:00.000000', 37.56, 131395709.0, 37.1114, 37.77, 37.0143),
 (163, '2010-09-07 00:00:00.000000', 36.83, 85565506.0, 36.6628, 37.0757, 36.6071),
 (164, '2010-09-03 00:00:00.000000', 36.9671, 130035609.0, 36.4414, 36.9686, 36.3571),
 (165, '2010-09-02 00:00:00.000000', 36.0243, 103632581.0, 35.8946, 36.0243, 35.51),
 (166, '2010-09-01 00:00:00.000000', 35.7614, 173960762.0, 35.3528, 35.9228, 35.1828),
 (167, '2010-08-31 00:00:00.000000', 34.7286, 104966361.0, 34.55, 34.9371, 34.3357),
 (168, '2010-08-30 00:00:00.000000', 34.6428, 95553599.0, 34.3943, 35.1071, 34.3829),
 (169, '2010-08-27 00:00:00.000000', 34.5171, 136758551.0, 34.5357, 34.6586, 33.6514),
 (170, '2010-08-26 00:00:00.000000', 34.3257, 116284385.0, 35.0643, 35.1071, 34.3254),
 (171, '2010-08-25 00:00:00.000000', 34.6986, 148938905.0, 34.0057, 34.8557, 33.8857),
 (172, '2010-08-24 00:00:00.000000', 34.2757, 150183995.0, 34.6671, 34.7143, 34.0928),
 (173, '2010-08-23 00:00:00.000000', 35.1143, 103289091.0, 35.97, 36.0, 35.0357),
 (174, '2010-08-20 00:00:00.000000', 35.6628, 95681559.0, 35.6271, 36.2743, 35.5714),
 (175, '2010-08-19 00:00:00.000000', 35.6971, 106533662.0, 36.12, 36.2114, 35.5257),
 (176, '2010-08-18 00:00:00.000000', 36.1528, 84548265.0, 36.0514, 36.3814, 35.94),
 (177, '2010-08-17 00:00:00.000000', 35.9957, 105546662.0, 35.7257, 36.3757, 35.6),
 (178, '2010-08-16 00:00:00.000000', 35.3771, 79420764.0, 35.3686, 35.7157, 35.2314),
 (179, '2010-08-13 00:00:00.000000', 35.5857, 88560037.0, 35.95, 35.9828, 35.5843),
 (180, '2010-08-12 00:00:00.000000', 35.97, 133552620.0, 35.2414, 36.1571, 35.16),
 (181, '2010-08-11 00:00:00.000000', 35.7414, 154454626.0, 36.4857, 36.5271, 35.6871),
 (182, '2010-08-10 00:00:00.000000', 37.0586, 112874754.0, 37.1214, 37.2071, 36.7928),
 (183, '2010-08-09 00:00:00.000000', 37.3928, 75552633.0, 37.3543, 37.45, 37.0814),
 (184, '2010-08-06 00:00:00.000000', 37.1558, 111151143.0, 37.1114, 37.3557, 36.8043),
 (185, '2010-08-05 00:00:00.000000', 37.3857, 72257102.0, 37.39, 37.5971, 37.2214),
 (186, '2010-08-04 00:00:00.000000', 37.5686, 105052042.0, 37.5486, 37.7543, 37.1873),
 (187, '2010-08-03 00:00:00.000000', 37.4186, 104082541.0, 37.2871, 37.6086, 37.06),
 (188, '2010-08-02 00:00:00.000000', 37.4071, 106583082.0, 37.2057, 37.5128, 37.0886),
 (189, '2010-07-30 00:00:00.000000', 36.75, 112029784.0, 36.5561, 37.1, 36.4143),
 (190, '2010-07-29 00:00:00.000000', 36.8728, 160834008.0, 37.2443, 37.5214, 36.5857),
 (191, '2010-07-28 00:00:00.000000', 37.28, 129737759.0, 37.6671, 37.9986, 37.1786),
 (192, '2010-07-27 00:00:00.000000', 37.7257, 145188934.0, 37.2671, 37.8286, 37.1857),
 (193, '2010-07-26 00:00:00.000000', 37.04, 104188731.0, 37.1428, 37.1571, 36.8157),
 (194, '2010-07-23 00:00:00.000000', 37.1343, 133236640.0, 36.7271, 37.1971, 36.6114),
 (195, '2010-07-22 00:00:00.000000', 37.0034, 161139628.0, 36.8114, 37.1428, 36.4728),
 (196, '2010-07-21 00:00:00.000000', 36.32, 295973249.0, 37.87, 37.8786, 36.2857),
 (197, '2010-07-20 00:00:00.000000', 35.9843, 263591379.0, 34.7, 36.1286, 34.2871),
 (198, '2010-07-19 00:00:00.000000', 35.0828, 255842447.0, 35.6971, 35.6971, 34.2286),
 (199, '2010-07-16 00:00:00.000000', 35.7, 259540618.0, 36.1686, 36.4243, 35.4871),
 (200, '2010-07-15 00:00:00.000000', 35.9214, 205060442.0, 35.4614, 36.71, 35.3286),
 (201, '2010-07-14 00:00:00.000000', 36.1038, 202950851.0, 35.6257, 36.5428, 35.5714),
 (202, '2010-07-13 00:00:00.000000', 35.9711, 296797219.0, 36.6171, 36.6286, 35.2043),
 (203, '2010-07-12 00:00:00.000000', 36.755, 140474992.0, 36.9328, 37.4071, 36.4086),
 (204, '2010-07-09 00:00:00.000000', 37.0886, 108260072.0, 36.6986, 37.1286, 36.4514),
 (205, '2010-07-08 00:00:00.000000', 36.87, 184252935.0, 37.4971, 37.5571, 36.4128),
 (206, '2010-07-07 00:00:00.000000', 36.9521, 163169979.0, 35.7843, 36.9671, 35.6786),
 (207, '2010-07-06 00:00:00.000000', 35.5186, 153559326.0, 35.8571, 36.1143, 35.1657),
 (208, '2010-07-02 00:00:00.000000', 35.2771, 173446612.0, 35.7843, 35.8471, 34.7428),
 (209, '2010-07-01 00:00:00.000000', 35.4971, 255527517.0, 36.3286, 36.4, 34.7457),
 (210, '2010-06-30 00:00:00.000000', 35.9328, 184538045.0, 36.6728, 36.8528, 35.7157),
 (211, '2010-06-29 00:00:00.000000', 36.5957, 282782865.0, 37.7316, 37.77, 36.3286),
 (212, '2010-06-28 00:00:00.000000', 38.3286, 146186434.0, 38.1328, 38.5357, 37.7886),
 (213, '2010-06-25 00:00:00.000000', 38.1, 136678611.0, 38.58, 38.61, 37.9728),
 (214, '2010-06-24 00:00:00.000000', 38.4286, 178309303.0, 38.7143, 39.0278, 38.3),
 (215, '2010-06-23 00:00:00.000000', 38.71, 191838418.0, 39.2257, 39.2371, 38.2714),
 (216, '2010-06-22 00:00:00.000000', 39.1214, 178776694.0, 38.88, 39.4243, 38.7857),
 (217, '2010-06-21 00:00:00.000000', 38.5957, 193217628.0, 39.67, 39.8586, 38.39),
 (218, '2010-06-18 00:00:00.000000', 39.1534, 195928029.0, 38.8928, 39.2857, 38.7743),
 (219, '2010-06-17 00:00:00.000000', 38.8386, 217872895.0, 38.6571, 38.9857, 38.5),
 (220, '2010-06-16 00:00:00.000000', 38.1786, 195557169.0, 37.3, 38.25, 37.2329),
 (221, '2010-06-15 00:00:00.000000', 37.0986, 145862054.0, 36.52, 37.1214, 36.5),
 (222, '2010-06-14 00:00:00.000000', 36.3257, 150469315.0, 36.5657, 37.0214, 36.2871),
 (223, '2010-06-11 00:00:00.000000', 36.2157, 136154451.0, 35.4607, 36.2657, 35.3386),
 (224, '2010-06-10 00:00:00.000000', 35.7871, 193507918.0, 34.9771, 35.8543, 34.6),
 (225, '2010-06-09 00:00:00.000000', 34.7428, 213040094.0, 35.9243, 35.9857, 34.6414),
 (226, '2010-06-08 00:00:00.000000', 35.6186, 249904415.0, 36.1771, 36.2571, 35.0928),
 (227, '2010-06-07 00:00:00.000000', 35.8486, 221253336.0, 36.8986, 37.0214, 35.7928),
 (228, '2010-06-04 00:00:00.000000', 36.5664, 189045767.0, 36.8871, 37.4143, 36.3757),
 (229, '2010-06-03 00:00:00.000000', 37.5886, 162341809.0, 37.8828, 37.9357, 37.2014),
 (230, '2010-06-02 00:00:00.000000', 37.7071, 171594061.0, 37.7914, 37.8286, 37.1907),
 (231, '2010-06-01 00:00:00.000000', 37.2614, 218455576.0, 37.0986, 37.9914, 36.9943),
 (232, '2010-05-28 00:00:00.000000', 36.6971, 203645811.0, 37.0554, 37.0571, 36.1928),
 (233, '2010-05-27 00:00:00.000000', 36.1928, 165270400.0, 35.8, 36.27, 35.5871),
 (234, '2010-05-26 00:00:00.000000', 34.8727, 212125404.0, 35.7257, 36.0186, 34.8214),

#### creating aapl.db file

In [33]:
# creating aapl.db and setting as active
data_file = df.to_sql('aapl', con=engine)
workbook = load_workbook(filename=data_file)
sheet = workbook.active
# we see this already exists, as I have ran this command before on my computer. We can at least confirm it is created.

ValueError: Table 'aapl' already exists.

## Summary
In conclusion, we succesfully were able to load the 2009-2019 aapl_data.xslm files into a table. We were able to succesfully load all files with the pattern of the years in order using a slightly differnt method, glob.glob. This method was the cleanest in seting up a table for me in the week of practicing on this dataset, as it made the most sence to use this method for me. We were easily able to pull in all files and read them to a dataframe, which we could run all the desired queries, and also convert into a database at the end to store the data using SQLite. We found a count and printed all rows found when the stock closed lower then 25$, which was only 6 days total. We were able to find all days in 2017 that closed above 35$ a share, and also printed the last 5 found. We successfully converted the table we used into a database using SQLite. We used fetchall to query a search in the DB. We are now setup to do any query we would like. Convientently, we also now have the data in a dataframe with datetime setup for 'date' column and now we also have a database setup with the ability to query and manipulate wither as needed.

## References:

Big Data file formats. (2020, April 23). Retrieved from https://luminousmen.com/post/big-data-file-formats.

Lawton, G. (2019, February 22). What to consider when choosing big data file formats. In Seach Business Analytics. Retrieved from https://searchbusinessanalytics.techtarget.com/feature/What-to-consider-when-choosing-big-data-file-formats.